<%= javascript_include_tag "analytics" %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="pie_chart_container" style="width:350px; height:350px; float: left; margin: 45px"></div>
<div id="bar_chart_container" style="width:450px; height:350px; float: left; margin: 45px"></div>
