<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">



          <a class="navbar-brand" href="/admin_dashboard">Auxilia Admin</a>






    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">

          <% if admin_signed_in? %>
                <li><%= link_to "Home", admin_dashboard_path %></li>

                <% if @tickets.present? %>
                  <li><%= link_to "Analysis", admin_dashboard_analytics_path %></li>
                <% end %>






                <li><%= link_to 'Your Conversations', conversations_path %></li>
                <li><%= link_to "Admin Logout", destroy_admin_session_path, method: :delete %></li>
          <% else %>
            <li><a href="/">User Login</a></li>
            <li><a href="/admins/sign_in">Admin Login</a></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</nav>





