<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">


          <a class="navbar-brand" href="/">Auxilia Helpdesk</a>




    </div>

    <ul class="nav navbar-nav navbar-right">










          <% if user_signed_in? %>








<li class="dropdown">
              <a class="dropdown-toggle" data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="#">
                <i class="fa fa-envelope"></i>
                <!-- <span class="badge"></span> -->
              </a>
              <ul class="dropdown-menu posts">
                <li>
                  <span class="dropdown-menu-title"> You have 9 messages</span>
                </li>
                <li>
                  <div class="drop-down-wrapper ps-container">
                    <ul>
                      <li>
                        <a href="javascript:;">
                          <div class="clearfix">
                            <div class="thread-image">
                              <img alt="" src="./assets/images/avatar-2.jpg">
                            </div>
                            <div class="thread-content">
                              <span class="author">Nicole Bell</span>
                              <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</span>
                              <span class="time"> Just Now</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:;">
                          <div class="clearfix">
                            <div class="thread-image">
                              <img alt="" src="./assets/images/avatar-1.jpg">
                            </div>
                            <div class="thread-content">
                              <span class="author">Peter Clark</span>
                              <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</span>
                              <span class="time">2 mins</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:;">
                          <div class="clearfix">
                            <div class="thread-image">
                              <img alt="" src="./assets/images/avatar-3.jpg">
                            </div>
                            <div class="thread-content">
                              <span class="author">Steven Thompson</span>
                              <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</span>
                              <span class="time">8 hrs</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:;">
                          <div class="clearfix">
                            <div class="thread-image">
                              <img alt="" src="./assets/images/avatar-1.jpg">
                            </div>
                            <div class="thread-content">
                              <span class="author">Peter Clark</span>
                              <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</span>
                              <span class="time">9 hrs</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:;">
                          <div class="clearfix">
                            <div class="thread-image">
                              <img alt="" src="./assets/images/avatar-5.jpg">
                            </div>
                            <div class="thread-content">
                              <span class="author">Kenneth Ross</span>
                              <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</span>
                              <span class="time">14 hrs</span>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  <div class="ps-scrollbar-x-rail" style="width: 270px; display: none; left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 250px; display: none; right: 3px;"><div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div></div></div>
                </li>
                <li class="view-all">
                  <a href="pages_messages.html">
                    See all messages <i class="fa fa-arrow-circle-o-right"></i>
                  </a>
                </li>
              </ul>
            </li>



            <% end %>



















      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <% if user_signed_in? %>
                <li><%= link_to "Home", admin_dashboard_path %></li>
                <li><%= link_to 'Your Conversations', conversations_path %></li>
                <li><%= link_to "User Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><a href="/">User Login</a></li>
            <li><a href="/admins/sign_in">Admin Login</a></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</nav>








