<%= case ticket_status
      when nil
            '<span class="ticket-label label-sm label-success octicon octicon-tag"> OPEN</span>'.html_safe
      when false
      		'<span class="ticket-label label-sm label-warning octicon octicon-tag"> IN PROGRESS</span>'.html_safe
      when true
            '<span class="ticket-label label-sm label-danger octicon octicon-tag"> RESOLVED</span>'.html_safe
      end
%>



