<li class="list-group-item">
  <span class="glyphicon glyphicon-plus"></span>
  <small class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
  <% if a.trackable %>
    <strong>User# <%= a.trackable.id %></strong> has been registered as a new user.
  <% else %>
    A user has been registered and subsequently deleted.
  <% end %>
</li>