<li class="list-group-item">
  <span class="glyphicon glyphicon-plus"></span>
  <small class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
  <%= activity.owner.firstname %> has edited
  <% if a.trackable %>
    <strong><%= a.trackable.firstname %>'s</strong> profile.
  <% else %>
    a user's profile and subsequently deleted them.
  <% end %>
</li>