<li class="list-group-item">
  <span class="glyphicon glyphicon-plus"></span>
  <small class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
  <strong><%= activity.owner ? activity.owner.firstname : 'Guest' %></strong>
  <% if a.trackable %>
    <%= a.trackable.firstname %>'s profile has been edited.
  <% else %>
    A user's profile has been edited and subequently they were deleted.
  <% end %>
</li>