// Place all the styles related to the admin_dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ticket_description {
  	width: 850px;
  	height: 225px;
}





















/* ---------------------------------------------------------------------- */
/*	Sparklines
 /* ---------------------------------------------------------------------- */
.mini-stats {
	// border-left: 1px solid #DDDDDD;
	list-style: none;
	margin: 0;
	padding: 0;
}
.mini-stats li {
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #DDDDDD;
	padding-bottom: 6px;
	text-align: center;
}
.mini-stats .sparkline_bar_good, .mini-stats .sparkline_bar_neutral, .mini-stats .sparkline_bar_bad {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.mini-stats li:last-child {
	border-right: 0 none;
}

.mini-stats .values {
	font-size: 12px;
	padding: 10px 0;
}
.mini-stats .values strong {
	display: block;
	font-size: 18px;
	margin-bottom: 2px;
}
.mini-stats .sparkline_bar_good, .mini-stats .sparkline_bar_neutral, .mini-stats .sparkline_bar_bad {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.mini-stats .sparkline_bar_good {
	color: #459D30;
}
.mini-stats .sparkline_bar_neutral {
	color: #757575;
}
.mini-stats .sparkline_bar_bad {
	color: #BA1E20;
}
.jqstooltip {
	width: auto !important;
	height: auto !important;
	padding: 2px 6px !important;
	background-color: rgba(0, 0, 0, 0.7) !important;
	border: 0 !important;
	border-radius: 3px;
}



.values span {
	display: block;
	font-size: 28px;
	margin-bottom: 10px;
}






























.navbar-tools > ul {
	list-style: none;
}
.navbar-tools > ul > li > a {
	padding: 15px 15px 9px;
	font-size: 16px;
	line-height: 26px;
}
.navbar-tools li.view-all a {
	padding: 8px 8px 6px !important;
}
.navbar-tools > ul > li {
	float: left;
}
.navbar-tools .dropdown-menu {
	background: none repeat scroll 0 0 white;
	border: 1px solid #C7CBD5;
	border-radius: 0 0 4px 4px;
	box-shadow: none;
	list-style: none outside none;
	margin: 0;
	max-width: 300px;
	min-width: 166px;
	padding: 0;
	position: absolute;
	text-shadow: none;
	top: 100%;
	z-index: 1000;
}
.navbar-tools .drop-down-wrapper {
	height: 250px;
	width: 270px;
	overflow: hidden;
	position: relative;
}
.navbar-tools .drop-down-wrapper ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.notifications li, ul.todo li, ul.posts li {
	min-width: 260px;
}
.navbar-tools > ul > li.dropdown {
	margin-left: 2px;
	margin-right: 2px;
}

.navbar-tools .dropdown-menu > li > a:hover, .navbar-tools .dropdown-menu > li > a:focus, .navbar-tools .dropdown-submenu:hover > a, .navbar-tools .dropdown-submenu:focus > a, .navbar-tools .drop-down-wrapper li a:hover, .navbar-tools .drop-down-wrapper li a:focus {
	background-color: #F4F6F9 !important;
	background-image: none;
	filter: none;
	color: #000;
	text-decoration: none;
}
.drop-down-wrapper ul > li:last-child a {
	border-bottom: none;
}
.navbar-tools .dropdown-menu li .dropdown-menu-title {
	display: block;
	font-weight: bold;
	margin: -1px;
	padding: 5px 10px;
}
.navbar-tools .dropdown-menu li p, .navbar-tools .dropdown-menu li a, .navbar-tools .drop-down-wrapper li p, .navbar-tools .drop-down-wrapper li a {
	color: #333333;
	font-size: 12px;
	font-weight: 300;
	margin: 0;
	padding: 8px 8px 6px;
	border-bottom: 1px solid rgba(100, 100, 100, 0.22);
	white-space: normal !important;
	display: block;
}
.navbar-tools .dropdown-menu > li:last-child a {
	border-bottom: none !important;
	border-radius: 0 0 6px 6px;
}
li.dropdown.current-user .dropdown-toggle {
	padding: 10px 4px 7px 9px;
}
li.dropdown.current-user .dropdown-menu li a {
	border-bottom: none !important;
}
.navbar-tools .dropdown-menu li p {
	font-weight: bold;
}
.navbar-tools .dropdown-menu li a .author {
	color: #0362FD;
	display: block;
}
.navbar-tools .dropdown-menu li a .preview {
	display: block;
}
.navbar-tools .dropdown-menu li a .time {
	font-size: 12px;
	font-style: italic;
	font-weight: 600;
	display: block;
	float: right;
}
.navbar-tools .dropdown-menu li.view-all a i {
	float: right;
	margin-top: 4px;
}
.navbar-tools .dropdown-menu.notifications li > a > .label {
	margin-right: 2px;
	padding: 2px 4px;
	text-align: center !important;
}
.navbar-tools .thread-image {
	margin-right: 8px;
	float: left;
	height: 50px;
	width: 50px;
}
.navbar-tools > ul > li.dropdown .dropdown-toggle .badge {
	border-radius: 12px 12px 12px 12px !important;
	font-size: 11px !important;
	font-weight: 300;
	padding: 3px 6px;
	position: absolute;
	right: 24px;
	text-align: center;
	text-shadow: none !important;
	top: 8px;
}
.navbar-toggle {
	border: none;
	border-radius: 0;
	margin-top: 5px;
	margin-bottom: 4px;
}
.navbar-toggle span {
	font-size: 16px;
}














/* Navbar Settings */



.navbar {
    	border-radius: 0px;
}



.admin-navbar .navbar-brand {
    color: #fff;
}

.admin-navbar {
    background-color: #0e334c;
    border-color: #0e334c;
}


.admin-navbar .navbar-nav > li > a {
    color: #fff;
}




.admin-navbar .navbar-nav > .open > a, .admin-navbar .navbar-nav > .open > a:hover, .admin-navbar .navbar-nav > .open > a:focus {
    background-color: #416173;
    color: #fff;
}





.admin-navbar .dropdown-menu > li > a {
	color: #B8C7CE;
}




.admin-navbar .dropdown-menu {
	background-color: #416173;
	color: #fff;
}






.admin-navbar .dropdown-menu > li > a:hover, .admin-navbar .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #568198;
}


/* admin navbar menu buttons */
.admin-navbar li > a:hover{
    text-decoration: none;
    color: #fff;
    background-color: #416173;
}


.admin-navbar > li > a:focus{
    text-decoration: none;
    color: #fff;
    background-color: #0e334c;
}















/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #568198;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }







    .side-nav>li>a {
        width: 225px;



    }






.side-nav li a {
    font-weight: 200;
    color: #FFF;
    box-shadow: 0 1px 0 rgba(255,255,255,.05);
    border-left: 5px solid transparent;
}








    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #416173 !important;
        border-left: 5px solid #AAA;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}





.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #416173;
}
















/* Dashboard Styles */




#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}


























