// Place all the styles related to the admin_dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ticket_description {
  	width: 850px;
  	height: 225px;
}









.panel{
	border: 1px solid #d9d9d9;
	float: left;
}




.panel-header{


}




.panel-content{
	padding: 10px;
    position: relative;
    background-color: #fff;
}




.panel-divider{
	width: 100%;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
}









/* ---------------------------------------------------------------------- */
/*	Panels and panel elements
 /* ---------------------------------------------------------------------- */
.panel-header {
	background-color: #F5F4F9;
	background-image: linear-gradient(to bottom, #F5F4F9 0%, #ECEAF3 100%);
	background-repeat: repeat-x;
	border-bottom: 1px solid #CDCDCD;
	border-radius: 6px 6px 0 0;
	box-shadow: 0 1px 0 #FFFFFF inset;
	height: 36px;
	padding-left: 40px;
	position: relative;


	background: #f9f9f9;
    border-bottom-color: #d9d9d9;
    line-height: 35px;

    margin-bottom: 0;




}
.panel-header > [class^="fa-"], .panel-header > [class*=" fa-"], .panel-header > [class^="icon-"], .panel-header > [class*=" icon-"], .panel-header > [class^="clip-"], .panel-header > [class*=" clip-"] {
	border-right: 1px solid #CDCDCD;
	box-shadow: 1px 0 0 0 #FFFFFF;
	opacity: 0.7;
	padding: 12px 10px 8px;
	position: absolute;
	left: 0;
	top: 0;
	height: 36px;
}
.panel {
	box-shadow: none;
}
.panel .panel-header {
	background-color: #ffffff;
	background-image: none;
	border-bottom: 1px solid #CDCDCD;
	border-radius: 6px 6px 0 0;
	box-shadow: none;
	height: 36px;
	padding-left: 40px;
	position: relative;
}
.panel .panel-header > [class^="fa-"], .panel .panel-header > [class*=" fa-"], .panel .panel-header > [class^="icon-"], .panel .panel-header > [class*=" icon-"], .panel .panel-header > [class^="clip-"], .panel .panel-header > [class*=" clip-"] {
	border-right: 1px solid #CDCDCD;
	box-shadow: none;
	opacity: 0.7;
	padding: 12px 10px 8px;
	position: absolute;
	left: 0;
	top: 0;
	height: 36px;
}
.panel-box {
	background: #FAFAFA;
	border: 1px solid #CDCDCD;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	clear: both;
	margin-bottom: 16px;
	margin-top: 16px;
	position: relative;
}
.panel.panel-full-screen {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9998;
}
.panel-scroll {
	position: relative;
	margin: 10px;
	padding: 0px;
	width: auto;
	height: 400px;
	overflow: hidden;
}















/* ---------------------------------------------------------------------- */
/*	Sparklines
 /* ---------------------------------------------------------------------- */
.mini-stats {
	// border-left: 1px solid #DDDDDD;
	list-style: none;
	margin: 0;
	padding: 0;
}
.mini-stats li {
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #DDDDDD;
	padding-bottom: 6px;
	text-align: center;
}
.mini-stats .sparkline_bar_good, .mini-stats .sparkline_bar_neutral, .mini-stats .sparkline_bar_bad {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.mini-stats li:last-child {
	border-right: 0 none;
}

.mini-stats .values {
	font-size: 12px;
	padding: 10px 0;
}
.mini-stats .values strong {
	display: block;
	font-size: 18px;
	margin-bottom: 2px;
}
.mini-stats .sparkline_bar_good, .mini-stats .sparkline_bar_neutral, .mini-stats .sparkline_bar_bad {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.mini-stats .sparkline_bar_good {
	color: #459D30;
}
.mini-stats .sparkline_bar_neutral {
	color: #757575;
}
.mini-stats .sparkline_bar_bad {
	color: #BA1E20;
}
.jqstooltip {
	width: auto !important;
	height: auto !important;
	padding: 2px 6px !important;
	background-color: rgba(0, 0, 0, 0.7) !important;
	border: 0 !important;
	border-radius: 3px;
}



.values span {
	display: block;
	font-size: 28px;
	margin-bottom: 10px;
}






























.navbar-tools > ul {
	list-style: none;
}
.navbar-tools > ul > li > a {
	padding: 15px 15px 9px;
	font-size: 16px;
	line-height: 26px;
}
.navbar-tools li.view-all a {
	padding: 8px 8px 6px !important;
}
.navbar-tools > ul > li {
	float: left;
}
.navbar-tools .dropdown-menu {
	background: none repeat scroll 0 0 white;
	border: 1px solid #C7CBD5;
	border-radius: 0 0 4px 4px;
	box-shadow: none;
	list-style: none outside none;
	margin: 0;
	max-width: 300px;
	min-width: 166px;
	padding: 0;
	position: absolute;
	text-shadow: none;
	top: 100%;
	z-index: 1000;
}
.navbar-tools .drop-down-wrapper {
	height: 250px;
	width: 270px;
	overflow: hidden;
	position: relative;
}
.navbar-tools .drop-down-wrapper ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.notifications li, ul.todo li, ul.posts li {
	min-width: 260px;
}
.navbar-tools > ul > li.dropdown {
	margin-left: 2px;
	margin-right: 2px;
}

.navbar-tools .dropdown-menu > li > a:hover, .navbar-tools .dropdown-menu > li > a:focus, .navbar-tools .dropdown-submenu:hover > a, .navbar-tools .dropdown-submenu:focus > a, .navbar-tools .drop-down-wrapper li a:hover, .navbar-tools .drop-down-wrapper li a:focus {
	background-color: #F4F6F9 !important;
	background-image: none;
	filter: none;
	color: #000;
	text-decoration: none;
}
.drop-down-wrapper ul > li:last-child a {
	border-bottom: none;
}
.navbar-tools .dropdown-menu li .dropdown-menu-title {
	display: block;
	font-weight: bold;
	margin: -1px;
	padding: 5px 10px;
}
.navbar-tools .dropdown-menu li p, .navbar-tools .dropdown-menu li a, .navbar-tools .drop-down-wrapper li p, .navbar-tools .drop-down-wrapper li a {
	color: #333333;
	font-size: 12px;
	font-weight: 300;
	margin: 0;
	padding: 8px 8px 6px;
	border-bottom: 1px solid rgba(100, 100, 100, 0.22);
	white-space: normal !important;
	display: block;
}
.navbar-tools .dropdown-menu > li:last-child a {
	border-bottom: none !important;
	border-radius: 0 0 6px 6px;
}
li.dropdown.current-user .dropdown-toggle {
	padding: 10px 4px 7px 9px;
}
li.dropdown.current-user .dropdown-menu li a {
	border-bottom: none !important;
}
.navbar-tools .dropdown-menu li p {
	font-weight: bold;
}
.navbar-tools .dropdown-menu li a .author {
	color: #0362FD;
	display: block;
}
.navbar-tools .dropdown-menu li a .preview {
	display: block;
}
.navbar-tools .dropdown-menu li a .time {
	font-size: 12px;
	font-style: italic;
	font-weight: 600;
	display: block;
	float: right;
}
.navbar-tools .dropdown-menu li.view-all a i {
	float: right;
	margin-top: 4px;
}
.navbar-tools .dropdown-menu.notifications li > a > .label {
	margin-right: 2px;
	padding: 2px 4px;
	text-align: center !important;
}
.navbar-tools .thread-image {
	margin-right: 8px;
	float: left;
	height: 50px;
	width: 50px;
}
.navbar-tools > ul > li.dropdown .dropdown-toggle .badge {
	border-radius: 12px 12px 12px 12px !important;
	font-size: 11px !important;
	font-weight: 300;
	padding: 3px 6px;
	position: absolute;
	right: 24px;
	text-align: center;
	text-shadow: none !important;
	top: 8px;
}
.navbar-toggle {
	border: none;
	border-radius: 0;
	margin-top: 5px;
	margin-bottom: 4px;
}
.navbar-toggle span {
	font-size: 16px;
}











.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #f5fafb;
}





