// Place all the styles related to the ToDos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#tasks, .due_date { padding-left: 15px; }

.crossmark-delete-button {
  float: right;
  padding-right: 10px;
}

#task-form { padding-bottom: 15px; }







.task-notepad  {
  color: #31708f;
  background-color: #FFFFCC;
}




.new-task-button-margin {
	padding-left: 44px;
	padding-top: 15px;
}