// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a.btn-newticket{
	color: #ffffff;
}

// Increase width for table data
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}



#ticket_description {
  width: 850px;
  height: 450px;
}